 {% extends 'LeaderBoard/bluePrint.html' %} {% block details_active %} active {% endblock %} {% block body %}



<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header text-danger text-center">
                        <h1>Enter your Twitter details</h1>
                    </div>

                    <form role="form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %} {% include 'LeaderBoard/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class=" btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-11">
                <div class="panel panel-default">
                    <div class="panel-body text-center text-danger">
                        <h3>This may take a while, please be patient while twitPop searches twitter's data stream </h3>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}